{{ template "start.html" .}}

<h1>{{ .title }}</h1>

{{ if .ErrorTitle}}
<p class="bg-danger">
    {{.ErrorTitle}}: {{.ErrorMessage}}
</p>
{{end}}

<style>
    body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box;}

    /* Button used to open the contact form - fixed at the bottom of the page */
    .open-button {
        background-color: #555;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 40px;
        width: 280px;
    }

    /* The popup form - hidden by default */
    .form-popup {
        display: none;
        position: fixed;
        bottom: 90px;
        right: 20px;
        border: 3px solid #f1f1f1;
        width: 400px;
        z-index: 9;
    }

    /* Add styles to the form container */
    .form-container {
        max-width: 400px;
        padding: 10px;
        background-color: white;
    }

    /* Full-width input fields */
    .form-container textarea[type=text] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

    /* When the inputs get focus, do something */
    .form-container textarea[type=text]:focus{
        background-color: #ddd;
        outline: none;
    }

    /* Set a style for the submit/login button */
    .form-container .btn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom:10px;
        opacity: 0.8;
    }

    /* Add a red background color to the cancel button */
    .form-container .cancel {
        background-color: red;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }
</style>

<div class="row">
    <button class="open-button" onclick="openAddNotePopup()">Add note</button>

    <div class=" rounded border form-popup form-container" id="addNoteForm" style="border: lightblue">
        <button onclick="closeAddNotePopup()" class="btn cancel">Close</button>
        <h5 class="col rounded mb-3" style="background-color: lightblue ">Add note</h5>
        <label><b>Title</b></label>
        <textarea class="new-note-title" rows="1" cols="30" type="text" maxlength="30" placeholder="Note title" required></textarea>
        <label><b>Group</b></label>
        <textarea class="new-note-group" rows="1" cols="30" type="text" maxlength="30" placeholder="Note group" required></textarea>
        <label><b>Text</b></label>
        <textarea class="new-note-text" rows="3" cols="50" type="text" placeholder="Note text" required></textarea>
        <button class="btn btn-add-new-note">Add</button>
    </div>
    <ol>
        {{ range .notes }}
        <div class="col-8 mb-3">
            <div class="card note-id" data-note-id="{{ .NoteID }}">
                <h2 class="card-header">{{ .Title }}</h2>
                <div class="card-body">
                    <div class="col-6">
                        <label> Group:
                            <textarea class="data-group" rows="1" cols="50" maxlength="10"  disabled>{{ .Group }}</textarea>
                        </label>
                        <label> Text:
                            <textarea class="data-text" rows="3" cols="50"  disabled>{{ .Text }}</textarea>
                        </label>

                        <button class="btn btn-primary btn-edit">Edit</button>
                        <button class="btn btn-primary btn-cancel" style="display: none">Cancel</button>
                        <button class="btn btn-primary btn-save" style="display: none">Save</button>
                        <button class="btn btn-primary btn-delete" style="display: none">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
    </ol>


</div>

<script>

    function openAddNotePopup() {
        document.getElementById("addNoteForm").style.display = "block"
    }

    function closeAddNotePopup() {
        document.getElementById("addNoteForm").style.display = "none"
    }


$(() => {
    $(document).on('click', '.btn-edit', function () {
        let $element = $(this);

        $element.parent().find('.btn-save').show()
        $element.parent().find('.btn-cancel').show()
        $element.parent().find('.btn-delete').show()
        $element.parent().find('.data-text').prop('disabled', false)
        $element.parent().find('.data-group').prop('disabled', false)

        $element.hide();
    })

    $(document).on('click', '.btn-cancel', function () {
        let $element = $(this);

        $element.parent().find('.btn-edit').show()
        $element.parent().find('.btn-save').hide()
        $element.parent().find('.btn-cancel').hide()
        $element.parent().find('.btn-delete').hide()
        $element.parent().find('.data-text').prop('disabled', true)
        $element.parent().find('.data-group').prop('disabled', true)

        $element.hide();
    })

    $(document).on('click', '.btn-save', function () {
        let $element = $(this);

        $element.parent().find('.btn-cancel').hide()
        $element.parent().find('.btn-delete').hide()
        $element.parent().find('.btn-edit').show()

        let textValue = $element.parent().find('.data-text').val();
        let groupValue = $element.parent().find('.data-group').val();
        console.log("group "+  groupValue + " text " + textValue)
        let noteid = $element.closest('.note-id').attr('data-note-id')
        console.log("NoteID " + JSON.stringify(noteid) )
        $.ajax({
            url: `/note/edit/${noteid}`,
            type: "POST",
            data: JSON.stringify({
                title: "",
                group: groupValue,
                text: textValue
            }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data, status){
                $('p').append('status: ' + status + ', data: ' + data)
                console.log(data)
                $element.parent().find('.data-text').html(textValue);
                $element.parent().find('.data-group').html(groupValue);
            },
            complete: function () {
                $element.parent().find('.data-text').prop('disabled', true)
                $element.parent().find('.data-group').prop('disabled', true)
                $element.hide();
            },
            error: function(jqxhr, settings, ex) { alert('failed, ' + ex); }
        })
    })

    $(document).on('click', '.btn-delete', function () {
        let $element = $(this);

        $element.parent().find('.btn-cancel').hide()
        $element.parent().find('.btn-delete').hide()
        $element.parent().find('.btn-edit').show()

        let noteid = $element.closest('.note-id').attr('data-note-id')
        $.ajax({
            url: `/note/delete/${noteid}`,
            type: "DELETE",
            success: function (data, status){
                $('p').append('status: ' + status + ', data: ' + data)
                $element.closest('.note-id').remove()
            },
            error: function(jqxhr, settings, ex) { alert('failed, ' + ex); }
        })
    })

    $('.btn-add-new-note').on('click', function () {
            let $element = $(this);


            let titleValue = $element.parent().find('.new-note-title').val()
            let groupValue = $element.parent().find('.new-note-group').val()
            let textValue = $element.parent().find('.new-note-text').val()

            console.log("title", titleValue)
            console.log("group", groupValue)
            console.log("text", textValue)

            $.ajax({
                url: "/note/create",
                type: "POST",
                data: JSON.stringify({
                    title: titleValue,
                    group: groupValue,
                    text: textValue
                }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data, status){
                    $('p').append('status: ' + status + ', data: ' + data)
                    console.log(data)

                    let newNoteHTML = `
                        <div class="col-8 mb-3">
                            <div class="card note-id" data-note-id="${data.noteid}">
                                <h2 class="card-header">${data.title}</h2>
                                <div class="card-body">
                                    <div class="col-6">
                                        <label> Group:
                                            <textarea class="data-group" rows="1" cols="50" maxlength="10"  disabled>${data.group}</textarea>
                                        </label>
                                        <label> Text:
                                            <textarea class="data-text" rows="3" cols="50"  disabled>${data.text}</textarea>
                                        </label>
                                        <button class="btn btn-primary btn-edit">Edit</button>
                                        <button class="btn btn-primary btn-cancel" style="display: none">Cancel</button>
                                        <button class="btn btn-primary btn-save" style="display: none">Save</button>
                                        <button class="btn btn-primary btn-delete" style="display: none">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `
                    $("ol").append(newNoteHTML);
                },
                complete: function () {
                    closeAddNotePopup()
                },
                error: function(jqxhr, settings, ex) { alert('failed, ' + ex); }
            })
        })
    });
</script>