{{ template "start.html" .}}

<h1>{{ .title }}</h1>

{{ if .ErrorTitle}}
<p class="bg-danger">
    {{.ErrorTitle}}: {{.ErrorMessage}}
</p>
{{end}}

<div class="row">
    {{ range .notes }}
    <div class="col-12 mb-3">
        <div class="card plant-id" data-plant-id="{{ .NoteID }}">
            <h2 class="card-header">{{ .Title }}</h2>
            <div class="card-body">
                <div class="row">
                    <div class="col rounded border" style="border: lightgreen">
                        <ul>
                            <li >
                                Text: <span class="data-temp">{{ .Text }}</span>
                                <div class="display-edit" style="display: none">
                                    <label for="reqtemp">Edited text:</label>
                                    <input type="range" class="form-control temp-val" id="reqtemp" name="reqtemp" min="10" max="40" oninput="this.nextElementSibling.value = this.value">
                                    <output class="display-temp">{{ .Text }}</output>
                                </div>
                            </li>
                        </ul>
                        <button class="btn btn-primary btn-measurement-edit">Edit</button>
                        <button class="btn btn-primary btn-measurement-save" style="display: none">Save</button>
                        <button class="btn btn-primary btn-measurement-cancel" style="display: none">Cancel</button>
                        <button class="btn btn-primary btn-measurement-delete" style="display: none">Delete</button>
                    </div>
                    <div class="col rounded border" style="border: lightblue">
                        <h5 class="col rounded mb-3" style="background-color: lightblue ">Current values</h5>
                        <ul data-plantid="{{ .NoteID }}">
                            <li>
                                Group: <span class="data-temp-current" >{{ .GroupID }}</span>
                                <span class="data-temp-current-text"></span>
                            </li>
                            <li>
                                Text: <span class="data-temp-current" >{{ .Text }}</span>
                                <span class="data-temp-current-text"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</div>

<script>
    $(() => {
        $('.btn-measurement-edit').on('click', function () {
            let $element = $(this);
            console.log("asd")

            $element.parent().find('.display-edit').show()
            $element.parent().find('.btn-measurement-save').show()
            $element.parent().find('.btn-measurement-cancel').show()
            $element.parent().find('.btn-measurement-delete').show()

            $element.hide();
        })
    });
</script>